html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
.table{
    display: table;
    width: 100%;
    height: 100%;
}
.table .table-cell{
    display: table;
    vertical-align: middle;
}
#root{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    vertical-align: top;
    overflow: hidden;
}
#game{
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    vertical-align: top;
    overflow: hidden;
}
#map{
    position: absolute;
    height: 0;
    width: 0;
    vertical-align: top;
}
#game.map-loading #map{
    opacity: 0;
}
#tiles{
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.tile{
    position: relative;
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin: 1px;
    background-color: rgba(255,255,255,0.1);
    display: inline-block;
    vertical-align: top;
}
/* SQUARE TOKEN
#token{
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: top;
    background-color: blue;
    margin: 0;
    z-index: 10;
}
*/

/* LINK TOKEN */
#token{
    position: absolute;
    top: -10px;
    left: 2px;
    background: url('../images/linkwithoutshield.png') -50px 0px;
    background-repeat: no-repeat;
    background-size: 600px 400px;
    width: 50px;
    height: 50px;
    z-index: 100 !important;
}
#token.n{
    background-position: -50px -150px;
}
#token.nr{
    background-position: 0px -150px;
}
#token.nl{
    background-position: -100px -150px;
}
#token.s{
    background-position: -50px 0px;
}
#token.sr{
    background-position: 0px 0px;
}
#token.sl{
    background-position: -100px 0px;
}
#token.e{
    background-position: -50px -100px;
}
#token.er{
    background-position: 0px -100px;
}
#token.el{
    background-position: -100px -100px;
}
#token.w{
    background-position: -50px -50px;
}
#token.wr{
    background-position: 0px -50px;
}
#token.wl{
    background-position: -100px -50px;
}


/* OBJECTS */
.portal{
    position: relative;
    width: 48px;
    height: 48px;
    display: block;
    background-color: #000;
    z-index: 1;
}
.tree{
    position: relative;
    width: 48px;
    height: 48px;
    display: block;
    background-color: darkgreen;
    z-index: 1;
}
.wall{
    position: relative;
    width: 48px;
    height: 48px;
    display: block;
    background-color: grey;
    z-index: 1;
}
.chest{
    position: relative;
    width: 48px;
    height: 48px;
    display: block;
    background-color: brown;
    z-index: 1;
}
.chest:before{
    content: " ";
    position: absolute;
    display: inline-block;
    height: 5px;
    width: 5px;
    left: 16px;
    top: 16px;
    border: 5px solid gold;
    background-color: black;
    z-index: 3;
}
.chest:after{
    content: " ";
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 100%;
    left: 0;
    top: 22px;
    background-color: gold;
    z-index: 2;
}
.chest.open:before{
    top: 0;
}
.chest.open:after{
    top: 7px;
    border-top: 18px solid #5f4242;
}
.money,
.money:before,
.money:after{
    content: " ";
    position: absolute;
    border: 1px solid #000;
    border-radius: 100%;
    background-color: gold;
}
.money{
    width: 20%;
    height: 20%;
    left: 30%;
    top: 40%;
}
.money:before{
    width: 100%;
    height: 100%;
    left: 75%;
    top: 50%;
}
.money:after{
    width: 100%;
    height: 100%;
    left: 75%;
    top: -50%;
}


#controls{
    display: none;
    pointer-events: none;
}
.overlayControls #controls{
    display: block;
    position: fixed;
    height: 0;
    width: 100%;
    bottom: 0;
    z-index: 100;
    pointer-events: all;
    background-color: #333;
}
#controls #dpad{
    position: absolute;
    width: 40vw;
    height: 40vw;
    max-width: 40vh;
    max-height: 40vh;
    left: 5vw;
    bottom: 5vh;
}
#controls #dpad .btn{
    position: absolute;
    width: 33.33%;
    height: 33.33%;
    background-color: rgba(255,255,255,0.5);
}
#controls #dpad .btn:before{
    position: absolute;
    content: " ";
    width: 0; 
    height: 0;
    left: 50%;
    top: 50%;
}
#controls #dpad .left{
    top: 33.33%;
    left: 0;
}
#controls #dpad .left:before{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(0,0,0,0.25);
    margin-left: -5px;
    margin-top: -10px;
}  
#controls #dpad .up{
    top: 0;
    left: 33.33%;
}
#controls #dpad .up:before{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0,0,0,0.25);
    margin-left: -10px;
    margin-top: -5px;
}   
#controls #dpad .right{
    top: 33.33%;
    right: 0;
}
#controls #dpad .right:before{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0,0,0,0.25);
    margin-left: -5px;
    margin-top: -10px;
}  
#controls #dpad .down{
    left: 33.33%;
    bottom: 0;
}
#controls #dpad .down:before{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0,0,0,0.25);
    margin-left: -10px;
    margin-top: -5px;
} 

#controls #buttons{
    position: absolute;
    width: 15vw;
    height: 45vw;
    max-width: 15vh;
    max-height: 45vh;
    right: 5vw;
    bottom: 2.5vh;
}

#controls #buttons .btn{
    position: absolute;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 100%;
    display: table;
}
#controls #buttons ._a{
    top: 0;
}
#controls #buttons ._a:before{
    content: " ";
    border-radius: 100%;
    border: 1% solid rgba(0,0,0,0.25);
    width: 50%;
    height: 50%;
    left: 24%;
    top: 24%;
}
#controls #buttons ._b{
    bottom: 0;
}
.screen{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #eee;
    z-index: 200;
    overflow: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 2rem;
}
.screen .window{
    display: none;
    position: relative;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
.screen .window .content{
    display: table-cell;
    vertical-align: middle;
}